name: blipblop

on:
  push:
    branch: master
  workflow_dispatch:

env:
  REGISTRY: ghcr.io

jobs:
  get-package-version:
    runs-on: ubuntu-latest
    steps:
      - name: Skopeo
        run: skopeo list-tags docker://ghcr.io/${{ env.REGISTRY }}/eiffel-community/etos-api | jq ".Tags | last"
