name: blipblop

on:
  push:
    branch: master
  workflow_dispatch:

env:
  REGISTRY: ghcr.io

jobs:
  apiImage:
    runs-on: ubuntu-latest
    steps:
      - name: Get version
        id: getVersion
        run: |
          VERSION=skopeo list-tags docker://ghcr.io/${{ env.REGISTRY }}/eiffel-community/etos-api | jq ".Tags | last"
          echo "version=$VERSION" >> $GITHUB_OUTPUT
        outputs:
          repository: eiffel-community/etos-api
          version: ${{ steps.getVersion.outputs.version }}
  doEcho:
    runs-on: ubuntu-latest
    needs: [apiImage]
    steps:
      - name: Echo
        run: echo ${{ env.REGISTRY }}/${{ needs.apiImage.outputs.repository}}:${{ needs.apiImage.outputs.version }}
