name: blipblop

on:
  push:
    branch: master
  workflow_dispatch:

env:
  REGISTRY: ghcr.io

jobs:
  get-package-version:
    runs-on: ubuntu-latest
    steps:
      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@9ec57ed1fcdbf14dcef7dfbe97b2010124a938b7
        with:
          tags: |
            type=schedule
            type=sha

          images: ${{ env.REGISTRY }}/eiffel-community/etos-api
      - name: Echo
        run: echo ${{ steps.meta.outputs.tags }}
