name: blipblop

on:
  push:
    branch: master
  workflow_dispatch:

env:
  REGISTRY: ghcr.io

jobs:
  get-package-version:
    runs-on: ubuntu-latest
    steps:
      - name: Log in to the Container registry
        uses: docker/login-action@65b78e6e13532edd9afa3aa52ac7964289d1a9c1
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@9ec57ed1fcdbf14dcef7dfbe97b2010124a938b7
        with:
          images: ${{ env.REGISTRY }}/eiffel-community/etos-api
      - name: Echo
        run: echo ${{ steps.meta.outputs.tags }}
