name: Thingymabob

on:
  workflow_dispatch:

env:
  REGISTRY: ghcr.io

jobs:
  build-and-commit:
    runs-on: ubuntu-latest
    steps:
      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@9ec57ed1fcdbf14dcef7dfbe97b2010124a938b7
        with:
          images: ${{ env.REGISTRY }}/eiffel-community/etos-api
      - name: Echo
        run: echo ${{ steps.meta.outputs.tags }}
